<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - ASP.NET MVC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <style>
        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
        }

        .navbar-nav li a:hover {
            color: #1abc9c !important;
        }
    </style>

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button style="width:45px;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/" target="_top" title="persteenolsen.com">
                    <img class="img-responsive img-circle" style="display:inline; width:25%; height:25%" src="../../../logo_persteenolsen_lisboa.jpg" />
                </a>

            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Using JQuery to show persons as JSON", "Index", "ClientAPI")</li>
                    <li>@Html.ActionLink("Using JQuery to ADMIN the persons (JSON)", "Index", "AdminClientAPI")</li>
                    <!--<li>@Html.ActionLink("Using JQuery to SUPER ADMIN the persons (JSON)", "Index", "SuperAdminClientAPI")</li>-->
                    <li> <a href="../../api/PersonTableJqueries/" target="_blank">Show persons as XML Data</a></li>
                </ul>

            </div>
        </div>

    </nav>



    <div class="container body-content">

        <br />

        @if (IsSectionDefined("sidebar"))
            {
            @RenderSection("sidebar")

        }
        else
        {

            <p><b>Note:</b><i>Some of these Single Page Applications are still not ready, but please take a look...</i></p>

        }



        @RenderBody()


        <hr /><br />

        <footer>
            <p><b>&copy; @DateTime.Now.Year - Developing ASP.NET Web API / Restful Webservice</b></p>
        </footer>



    </div>

</body>
</html>